.side-bar
    .left-header
        .left-header__top-items
            %h3.left-header__name
                yuki
            %ul.left-header__icon-list
                %li.left-header__icon
                    = link_to "#" do
                        = icon('fas', 'edit')
                %li.left-header__icon
                    = link_to "#" do
                        = icon('fas', 'cog')
    .group-list
        .group-list__group
            .group-list__group-name
                yuki
            .group-list__group-message
                まだメッセージはありません。
